.shopping-cart {
  width: 70%;
  margin: 0 auto;
  background: #f6f6f6;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.shopping-cart h2 {
  font-size: 2.5em;
  margin-bottom: 25px;
  text-align: center;
  color: #333;
}

.shopping-cart ul {
  list-style: none;
  padding: 0;
}

.shopping-cart ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
}

.shopping-cart ul li span {
  font-size: 1.2em;
}

.shopping-cart ul li img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.shopping-cart ul li button {
  padding: 10px 20px;
  background: #ff6347;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#checkout-btn {
  display: block;
  width: 100%;
  padding: 15px;
  background: #32cd32;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1.5em;
}