.shopping-cart {
  margin : 10% 10% 10% 10%;
}

/* 장바구니 타이틀 */
.shopping-cart h2 {
  color: #ff79b0;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

/* 결제 예상 금액 스타일 */
.list-totalPrice {
  display: block;
  text-align: right;
  margin-right: 20px;
  font-weight: bold;
  color: #ff6f61;
}

/* 상품 목록 스타일 */
.shopping-cart ul {
  list-style: none;
  padding: 0;
}

.shopping-cart li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* 이미지와 상품명을 담는 컨테이너 */
.list-img-prodName {
  width: 40%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.list-img-prodName img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.list-prodName {
  color: #333;
  font-weight: bold;
}

/* 가격, 사이즈, 색상, 수량 스타일 */
.list-price, .list-size, .list-color, .list-count {
  min-width: 10%;
  text-align: center;
  font-weight: bold;
  color: #666;
}

/* 수량 조절 버튼 스타일 */
.list-count-btn button {
  background-color: #ff79b0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 5px;
}

/* 삭제 버튼 스타일 */
.list-delete {
  background-color: #ff6f61;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

/* 주문하기 버튼 스타일 */
#checkout-btn {
  display: block;
  width: 25%;
  background-color: #ff79b0;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin: 20px auto 0 auto;
}
