<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<select id="selectNotice" resultType="notice">
		SELECT *
		FROM NOTICE
		JOIN NOTICE_DETAIL USING (NOTICE_TYPE)
		WHERE REF_NO = #{memberNo}
	</select>
	
	<delete id="noticeDelete">
		DELETE FROM NOTICE
		WHERE NOTICE_NO = #{noticeNo}	
	</delete>
	
	<select id="selectAllMember" resultType="member">
		SELECT MEMBER_NO ,
		MEMBER_ID ,
		MEMBER_NAME ,
		BIRTHDAY ,
		EMAIL ,
		PHONE ,
		CREATE_DATE ,
		ADDRESS ,
		ADDRESS_DETAIL ,
		ZIP_CODE ,
		GRADE_NO ,
		POINT ,
		STATUS 
		FROM MEMBER
	</select>
	
	<update id="deleteMember">
		UPDATE MEMBER
		SET STATUS = 'N'
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<insert id="insertMember" parameterType = "member">
		INSERT INTO MEMBER
		VALUES (
		SEQ_MEMBER_NO.NEXTVAL,
		#{memberId},
		#{memberPwd},
		#{memberName},
		TO_DATE(NVL(#{birthday}, '00010101')  ,'YYYYMMDD'),
		#{email},
		#{phone},
		DEFAULT,
		#{address},
		#{addressDetail},
		#{zipCode},
		1,
		DEFAULT,
		DEFAULT
		)
		
	</insert>
	
	<update id="sellerUpdateMem">
		UPDATE MEMBER
		SET MEMBER_PWD = #{memberPwd},
		  MEMBER_NAME = #{memberName},
		  EMAIL = #{email},
	      PHONE = #{phone},
	      ADDRESS = #{address},
	      ADDRESS_DETAIL = #{addressDetail},
	      ZIP_CODE = #{zipCode},
		  GRADE_NO = #{gradeNo},
		  POINT = #{point}
	    WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<update id="updateMember" parameterType = "member">
	  UPDATE MEMBER
	  SET MEMBER_PWD = #{memberPwd},
	      EMAIL = #{email},
	      PHONE = #{phone},
	      ADDRESS = #{address},
	      ADDRESS_DETAIL = #{addressDetail},
	      ZIP_CODE = #{ZIPCODE}
	  WHERE MEMBER_ID = #{memberId}
	</update>
	
	<select id="MemberIdMatch" parameterType="String" resultType="member">
		SELECT MEMBER_NO, MEMBER_ID, MEMBER_PWD, MEMBER_NAME, CREATE_DATE, GRADE_NO, POINT
		FROM MEMBER
		WHERE STATUS = 'Y' AND MEMBER_ID = #{memberId}
	</select>

	<select id="selectMemberInfo" parameterType="int" resultType="member">
		SELECT *
		  FROM MEMBER 
		 WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<update id="updateMemberPoint" parameterType="member">
		UPDATE MEMBER
		   SET POINT = POINT-#{point}
		 WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<update id="updateMemberGrade" parameterType = "member">
		UPDATE MEMBER
		   SET GRADE_NO=#{gradeNo}
		 WHERE MEMBER_NO = #{memberNo}		
	</update>
	
	<insert id="insertGradeCoupon">
		INSERT INTO COUPON_USER
		VALUES (
			SEQ_COUPON_USER_NO.NEXTVAL, #{memberNo}, #{couponNo}, SYSDATE+10, DEFAULT
		)
	</insert>
	
	<select id="selectPointRate" parameterType="int" resultType="int">
		SELECT POINT_RATE
		  FROM MEMBER
		  JOIN GRADE USING (GRADE_NO)
		 WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<select id="selectGradeList" resultType="grade">
		SELECT * FROM GRADE
	</select>
	
	<insert id="insertNotice" parameterType="map">
		INSERT INTO NOTICE
		VALUES (SEQ_NOTICE_NO.NEXTVAL, #{noticeType}, #{refNo})
	</insert>
</mapper>