<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<select id="selectMemberSoft" parameterType="member" resultType="member">
		SELECT MEMBER_NO, MEMBER_ID, MEMBER_NAME, CREATE_DATE
		FROM MEMBER
		WHERE STATUS = 'Y' AND MEMBER_ID = #{memberId} AND MEMBER_PWD = #{memberPwd}
	</select>
	
	<insert id="insertMember" parameterType = "member">
		INSERT INTO MEMBER
		VALUES (
		SEQ_MEMBER_NO.NEXTVAL,
		#{memberId},
		#{memberPwd},
		#{memberName},
		TO_DATE(NVL(#{birthday}, '00010101')  ,'YYYYMMDD'),
		#{email},
		#{phone},
		DEFAULT,
		#{address},
		#{addressDetail},
		#{zipCode},
		1,
		DEFAULT,
		DEFAULT
		)
		
	</insert>
	
	<select id="MemberIdMatch" parameterType="String" resultType="member">
		SELECT MEMBER_NO, MEMBER_ID, MEMBER_NAME, CREATE_DATE, MEMBER_PWD
		FROM MEMBER
		WHERE STATUS = 'Y' AND MEMBER_ID = #{memberId}
	</select>
	
</mapper>