<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orderMapper">


    <select id="findAll" resultType="order">
		SELECT *
		FROM "ORDER"
		JOIN ORDER_PROD OP USING (ORDER_NO) 
		JOIN PRODUCT PR USING (PROD_NO)
		JOIN IMAGE IG ON (PROD_NO = REF_NO)
		ORDER BY PROD_NO DESC
    </select>

    <select id="findById" parameterType="int" resultType="order">
        SELECT * FROM "ORDER" WHERE ORDER_NO = #{orderNo}
    </select>



	<select id="selectMainCate" resultType="categoryMain">
		SELECT * 
		  FROM CATE_MAIN
	</select>
	
	<select id="selectSubCate" resultType="categorySub">
		SELECT *
		  FROM CATE_SUB
		 WHERE CATE_MAIN = #{cateMain}
	</select>

	<select id="selectUserCoupon" parameterType="int" resultType="couponUser">
		SELECT MEMBER_NO, C.COUPON_NO, TO_CHAR(validity_date, 'YYYY-MM-DD') as validity_date, status, C.COUPON_NAME, C.DISCOUNT_RATE, C.DISCOUNT
		  FROM COUPON_USER CU 
		  JOIN COUPON C ON (CU.COUPON_NO = C.COUPON_NO)
		 WHERE MEMBER_NO = #{memberNo}
		   AND VALIDITY_DATE > SYSDATE
		   AND status = 'Y'
	</select>
	












</mapper>