<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orderMapper">

	<select id="selectAllOrder" resultType="order">
		SELECT *
		FROM "ORDER"
	</select>


    <select id="findAll" resultType="order">
		SELECT DISTINCT *
		FROM "ORDER"
		JOIN ORDER_PROD OP USING (ORDER_NO) 
		JOIN PRODUCT PR USING (PROD_NO)
        WHERE MEMBER_NO = #{memberNo}
		ORDER BY ORDER_NO ASC
    </select>
    
    <select id="selectOgOrder" resultType="order">
    	SELECT *
    	FROM "ORDER"
    	WHERE MEMBER_NO = #{memberNo}
    	ORDER BY ORDER_NO ASC
    </select>
    
<!-- SELECT DISTINCT * -->
<!-- FROM "ORDER" -->
<!-- JOIN ORDER_PROD  USING (ORDER_NO)  -->
<!-- JOIN PRODUCT  USING (PROD_NO) -->
<!-- JOIN ( -->
<!--     SELECT MIN(IMG_NO) AS MIN_IMG_NO, IMG_NAME, REF_NO -->
<!--     FROM IMAGE -->
<!--     GROUP BY REF_NO, IMG_NAME -->
<!-- ) I -->
<!-- ON (PROD_NO = I.REF_NO) -->
<!-- WHERE MEMBER_NO = 3 -->
<!-- ORDER BY ORDER_NO ASC; -->

    <select id="findById" parameterType="int" resultType="order">
        SELECT * FROM "ORDER" WHERE ORDER_NO = #{orderNo}
    </select>



	<select id="selectMainCate" resultType="categoryMain">
		SELECT * 
		  FROM CATE_MAIN
	</select>
	
	<select id="selectSubCate" parameterType="int" resultType="categorySub">
		SELECT *
		  FROM CATE_SUB
		 WHERE CATE_MAIN = #{cateMain}
	</select>

	<select id="selectUserCoupon" parameterType="int" resultType="couponUser">
		SELECT MEMBER_NO, C.COUPON_NO, TO_CHAR(validity_date, 'YYYY-MM-DD') as validity_date, status, C.COUPON_NAME, C.DISCOUNT_RATE, C.DISCOUNT
		  FROM COUPON_USER CU 
		  JOIN COUPON C ON (CU.COUPON_NO = C.COUPON_NO)
		 WHERE MEMBER_NO = #{memberNo}
		   AND VALIDITY_DATE > SYSDATE
	</select>
	
	<insert id="insertOrder" parameterType="order" >
		INSERT INTO "ORDER"
		VALUES (
			SEQ_ORDER_NO.NEXTVAL, #{memberNo}, #{orderName}, SYSDATE, #{receiver},
			#{receivePhone}, #{address}, #{addressDetail}, #{zipCode}, #{message},
			#{totalCount}, #{couponNo}, #{point}, #{totalPrice} , #{paymentPrice}, '카드'
		)
	</insert>

	<select id="selectRecentOrders" parameterType="String" resultType="RecentOrders">
		SELECT ORDER_NO, ORDER_DATE, PROD_NAME, SIZE, COLOR_NAME, COUNT, ORDER_NAME
		FROM ORDER_PROD OP
		LEFT JOIN ORDER USING (ORDER_NO)
		LEFT JOIN PRODUCT USING (PROD_NO)
		LEFT JOIN PROD_DETAIL PD ON (OP.PROD_NO = PD.PROD_NO) AND (OP.INDEX = PD.INDEX)
		LEFT JOIN PALETTE PAL ON (PD.COLOR_NO = PAL.COLOR_NO)
		WHERE ORDER_DATE = #{orderDate}
	</select>

	<insert id="insertOrderProd"  >
		INSERT INTO ORDER_PROD
		VALUES (
			SEQ_ORDER_NO.CURRVAL, #{index}, #{prodNo}, #{count}, #{price}
		) 
	</insert>

	<select id="selectOrderNo" resultType="int">
		SELECT COUNT(*) AS total_rows
		FROM "ORDER"
	</select>

	<update id="updateCouponUser" parameterType="couponUser" >
		UPDATE COUPON_USER
		   SET STATUS = 'N'
		 WHERE COUPON_NO = #{couponNo}
		   AND MEMBER_NO = #{memberNo}
	</update>

	<select id="selectUserTotalPay" parameterType="int" resultType="int">
		SELECT SUM(PAYMENT_PRICE) as totalPay
		  FROM "ORDER" 
		 WHERE MEMBER_NO = #{memberNo}
	</select>

	<insert id="insertOrderNotice" >
		INSERT INTO NOTICE
		VALUES (
			SEQ_NOTICE_NO.NEXTVAL, 2, 1
		)
	</insert>
	
	<select id="orderByMember">
		SELECT *
		  FROM "ORDER"
		  LEFT JOIN ORDER_PROD USING ORDER_NO
		 WHERE MEMBER_NO = #{memberNo}
	</select>
	
	
	
</mapper>