<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orderMapper">

    <select id="findAll" resultType="order">
        SELECT * FROM "ORDER"
    </select>

    <select id="findById" parameterType="int" resultType="order">
        SELECT * FROM "ORDER" WHERE ORDER_NO = #{orderNo}
    </select>


	<select id="selectOrdererInfo" parameterType="int" resultType="member">
		SELECT * 
		  FROM MEMBER 
		 WHERE MEMBER_NO = #{memberNo}
	</select>


</mapper>