<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="productMapper">

	<resultMap type="product" id="productResultSet" autoMapping="true">
		<id column="PROD_NO" property="prodNo" />
		<collection property="detail" javaType="list" ofType="prodDetail"
			select="selectProdDetailList" column="PROD_NO" />
		<collection property="image" javaType="list" ofType="image"
			select="selectProdImageList" column="PROD_NO" />
	</resultMap>


	<select id="selectProductList" parameterType="map" resultMap="productResultSet">
		SELECT PROD_NO, PROD_NAME, PROD_CAP, PRICE, DISCOUNT_RATE, CATE_SUB, ORDERED, THICKNESS, LINING, SEE_THROUGH, FABRIC, PATTERN, LINE, SEASON, UPLOAD_DATE, STATUS
		FROM PRODUCT
		LEFT JOIN CATE_SUB USING (CATE_SUB)
		<where>
			<if test='cateMain != "0"'>OR CATE_MAIN = #{cateMain}</if>
			<if test='cateSub != "0"'>OR CATE_SUB = #{cateSub}</if>
		</where>
	</select>

	<select id="getProductById" parameterType="int" resultType="product">
        SELECT *
        FROM PRODUCT
        WHERE PROD_NO = 1
	</select>

	<select id="selectProdDetailList" parameterType="int" resultType="prodDetail">
		SELECT "INDEX", PROD_NO, "SIZE", STACK, TOP, BOTTOM, COLOR_NO, COLOR_NAME, RGB FROM PROD_DETAIL
		LEFT JOIN PALETTE USING (COLOR_NO)
		WHERE PROD_NO = #{prodNo} AND STACK > 0
	</select>

	<select id="selectProdImageList" parameterType="int" resultType="image">
		SELECT IMG_NO, REF_NO, COLOR_NO, IMG_TYPE, IMG_NAME, COLOR_NAME, RGB
		FROM IMAGE
		LEFT JOIN PALETTE USING (COLOR_NO)
		WHERE REF_NO = #{refNo}
	</select>
	
	
	<select id="selectCartList" resultMap="productResultSet">
			SELECT P.PROD_NO, P.PROD_NAME, P.PROD_CAP, P.PRICE, P.DISCOUNT_RATE, P.CATE_SUB, P.ORDERED, P.THICKNESS, P.LINING, P.SEE_THROUGH, P.FABRIC, P.PATTERN, P.LINE, P.SEASON, P.UPLOAD_DATE, P.STATUS
			FROM PRODUCT P
			JOIN PROD_DETAIL D ON P.PROD_NO = D.PROD_NO
			WHERE P.PROD_NO IN
	    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</select>

	<select id="selectProdName" parameterType="int" resultType="product">
		SELECT PROD_NO, PROD_NAME, PRICE, DISCOUNT_RATE
		  FROM PRODUCT
		 WHERE PROD_NO = #{prodNo}
	</select>

<!-- 나중에 쓸 예정, 지우지 말 것 -->
<!-- INSERT INTO prod_detail(
    PROD_NO,
    "INDEX"
) values(
    #{???},
    (select count(*) from prod_detail WHERE prod_no = 2)
) -->
</mapper>