.order-container {
    width: 750px;
    margin: 0 auto;
}

.order-write {
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.order-prod-title,
.order-delivery-title,
.order-paymentInfo-title,
.order-payment-title {
    font-size: 25px;
}

.order-prod-table {
    width: 800px;
}

.order-prod-table>thead {
    text-align: center;
}

.order-prod-table tr {
    border: 1px solid rgb(187 149 149);
}

.orderProdImg {
    padding: 10px;
    width: 100px;
}

.apply-option {
    display: flex;
    justify-content: space-around;
}

.optionChange-btn {
    width: 75px;
    font-size: 12px;
}

.totalPrice {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: bold;
}

.delivery-info input[type=text] {
    height: 25px;
}

.delivery-info input[type=number] {
    height: 25px;
    width: 70px;
}

.delivery-info select {
    height: 30px;
}

.delivery-info,
.order-paymentInfo-content {
    margin-bottom: 50px;
    border: 1px solid black;
}


.order-delivery-content {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
}

.receiver-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.memo {
    margin-top: 30px;
}

.margin {
    margin-bottom: 15px;
}

.margin>select {
    height: 20px;
    margin-right: 5px;
}

.ordererInfo {
    margin: 20px;
}

.paymnet-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.payment-info {
    display: flex;
    margin: 10px;
}

.payment-text {
    width: 180px;
}

.payment-discount {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.myCoupon-view {
    display: flex;
}

.payPrice {
    border-top: 1px solid black;
    background-color: burlywood;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.payPrice>span {
    font-weight: bold;
}

.payment-method {
    display: flex;
}

.payment-method>button {
    border: 1px solid black;
    width: 90px;
    height: 80px;
    cursor: pointer;
}

.payment-right {
    border: 1px solid black;
    margin-left: 20px;
    border-radius: 20px;
    background-color: rgb(236, 175, 152);
    width: 300px;
    display: flex;
    flex-direction: column;
}

.payment-right>p {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 27px;
}

.payment-right-content {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 17px;
}

.payBtn {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

.payment-right button {
    display: flex;
    justify-content: center;
    width: 220px;
    height: 50px;
    align-items: center;
    background-color: crimson;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}




/* ChangeOption 모달관련 */
.optionBody {
    flex-direction: column;
}

.optionBody input {
    margin-left: 10px;
}

.form-check-1 {
    margin-bottom: 10px;
}