/* 전체 틀 */
.order-container {
    /* min-width: 750px; */
    max-width: 900px;
    margin: 0 auto;
}

.order-container>table {
    /* display: flex; */
    align-content: center;
}

/* 주문서 작성 타이틀 텍스트 */
.order-write {
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

/* 각 타이틀 텍스트 폰트 크기 */
.order-prod-title,
.order-delivery-title,
.order-paymentInfo-title,
.order-payment-title {
    display: inline-block;
    font-size: 25px;
    margin: 20px 0;
}

.countTdTag {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 수량 up-down 버튼 */
.updownButton {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

/* 주문상품(총수량) - 장바구니*/
.order-prod-table {
    min-width: 900px;
    max-width: 1000px;
    font-size: 15px;
    text-align: center;
}


.order-prod-table>thead>tr {
    height: 50px;
    font-weight: bold;
}

.order-prod-table tr {
    border: 1px solid rgb(187 149 149);
}

.orderProdImg {
    padding: 5px;
    width: 80px;
}

.optionChange-btn {
    width: 75px;
    font-size: 12px;
}

.totalPrice {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: bold;
}

/* 배송정보 */
.delivery-info input[type=text] {
    height: 25px;
}

.delivery-info input[type=number] {
    height: 25px;
    width: 70px;
}

.delivery-info select {
    height: 30px;
}

.delivery-info,
.paymnet-area {
    margin-bottom: 40px;
}

.ordererInfo {
    margin: 5px 0 10px 0;
}

/* 배송정보 틀 */
.order-delivery-content {
    display: flex;
    flex-direction: row;
}

.receiver-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .memo {
    margin-top: 30px;
} */

.receiver-text span {
    padding: 15px;
    border: 1px solid #c4c2c2;
    border-left: none;
    background-color: #f3f3f3;
    width: 180px;
}

.receiver-text span:nth-child(2) {
    border-top: none;
}

.receiver-text span:nth-child(3) {
    height: 70px;
    border-top: none;
    line-height: 40px
}

.receiver-text span:nth-child(4) {
    border-top: none;
}

.receiver-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* 수령자명 인풋 태그 */
.receiver-input>input:nth-child(1) {
    padding: 27px;
    border: 1px solid #c4c2c2;
    border-left: none;
    border-right: none;
    background-color: #fff;
}

/* 연락처 인풋 태그 */
.receiver-input>div:nth-child(2) {
    padding: 14.5px;
    border: 1px solid #c4c2c2;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: #fff;
}

.order-phone-box>select {
    height: 25px;
}

/* 배송지 주소 인풋 태그 */
.receiver-input>div:nth-child(3) {
    padding: 2px;
    border: 1px solid #c4c2c2;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: #fff;
}

.order-address div {
    display: flex;
    align-items: center;
}

.order-address>div:nth-child(1)>input {
    margin: 5px 5px 5px 10px;
}

.order-address>div:nth-child(2) input {
    font-size: 12px;
    margin: 0 5px 5px 10px;
    flex: 1;
}

/* 주소 찾기 버튼 */
.btn-primary {
    padding: 1px 5px;
    border-radius: 3px;
    margin-left: 5px;
    border: none;
}

/* 배송 메모 인풋 태그 */
.receiver-input>div:nth-child(4) {
    display: flex;
    padding: 3px;
    border: 1px solid #c4c2c2;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: #fff;
}

.receiver-input>div:nth-child(4)>input {
    margin: 9px;
    height: 29px;
    width: 300px;
}

.receiver-input>div:nth-child(4)>select {
    margin: 9px;
}

/* 결제정보 */
.paymnet-area {
    display: flex;
    flex-direction: column;
}

.payment-info {
    display: flex;
}

.payment-text {
    width: 180px;
}

/* 결제예정금액,쿠폰할인,사용할 포인트,사용가능한 포인트 div */
.payment-text div {
    padding: 15px;
    border: 1px solid #c4c2c2;
    border-left: none;
    background-color: #f3f3f3;
    width: 180px;
}

.payment-text div:nth-child(2),
.payment-text div:nth-child(3),
.payment-text div:nth-child(4) {
    border-top: none;
}

/* 결제 금액 내용들 000원~ 포인트 전체사용하기 까지 div,span */
.payment-discount {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.payment-discount div {
    border: 1px solid #c4c2c2;
    border-left: none;
    border-right: none;
    background-color: #fff;
}

.payment-discount div:nth-child(1) {
    padding: 15px;
}

.payment-discount div:nth-child(2) {
    border-top: none;
    padding: 12px;
}

.payment-discount>span {
    border: 1px solid #c4c2c2;
    border-left: none;
    background-color: #fff;
    border-top: none;
    padding: 12px;
    border-right: none;
}

.payment-discount div:nth-child(4) {
    border-top: none;
    padding: 15px;
}

.myCoupon-view {
    display: flex;
}

.payPrice {
    background-color: #fcdeb8;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c4c2c2;
}

.payPrice span {
    font-weight: bold;
    display: inline-block;
    padding: 13px;
}

.payPrice>span:nth-child(1) {
    border-right: 1px solid #c4c2c2;
    width: 180px;
}

.payment-method {
    display: flex;
}

.payment-method>button {
    border: 1px solid black;
    width: 90px;
    height: 80px;
    cursor: pointer;
}

/* 최종 결제 금액 */
.payment-right {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.payment-right-content {
    display: flex;
    margin-top: 20px;
    font-size: 17px;
    flex-wrap: wrap;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #f3f3f3;
    height: 80px;
    padding: 0 70px;
}

.payment-right-content>p,
.payment-right-content>div:nth-child(2)>div {
    font-size: 35px;
    font-weight: bold;
    margin: 10px 20px;
}

.payment-right-content>div:nth-child(3)>div,
.payment-right-content>div:nth-child(4)>div {
    line-height: 35px;
    margin: 0 5px;
    color: #696868;
}


.payBtn-div {
    display: flex;
    justify-content: center;
    /* width: 220px; */
    height: 50px;
    align-items: center;

    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 60px;
}

.PaymentAPI-Btn {
    width: 220px;
    background-color: crimson;
    /* border-style: none; */
}


/* ChangeOption 모달관련 */
.optionBody {
    flex-direction: column;
}

.optionBody input {
    margin-left: 10px;
}

.form-check-1 {
    margin-bottom: 10px;
}