.orderContainer {

  color: #333;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 10% 10% 10% 10%;
}

.totalOrder, .totalPrice {
  font-weight: bold;
  color: #d291bc;
  margin-bottom: 20px;
}

.orderTable {
  width: 100%;
  border-collapse: collapse;
}

.orderTable thead {
  background-color: #f9e0f7;
}

.orderTable th, .orderTable td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.orderTable th {
  color: #7c2955;
}

.orderTable tr:hover {
  background-color: #f4f4f4;
}

.orderDetailContainer {
  background-color: #f9f0fa;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.orderDetailContainer p {
  margin: 5px 0;
  color: #666;
}

.orderDetailContainer p:first-child {
  font-weight: bold;
  color: #333;
}

/* 버튼이나 토글 요소에 대한 추가적인 스타일링이 필요할 경우 */
.toggleButton {
  background-color: #d291bc;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.toggleButton:hover {
  background-color: #bf7791;
}
