/* 전체 틀 */
.order-container {
    width: 50%;
    min-width: 800px;
    margin: 0 25%;
    margin-top: 100px;
}

/* 주문서 작성 타이틀 텍스트 */
.order-write {
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

/* 각 타이틀 텍스트 폰트 크기 */
.order-prod-title,
.order-delivery-title,
.order-paymentInfo-title,
.order-payment-title {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.countTdTag {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 수량 up-down 버튼 */
.updownButton {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

/* 주문상품(총수량) - 장바구니*/
.order-prod-table {
    font-size: 18px;
    text-align: center;
    width: 100%;
}

.order-prod-table tr {
    border: 1px solid rgb(187 149 149);
}

.order-prod-table>thead>tr {
    height: 50px;
    font-size: 23px;
}

.orderProdImg {
    padding: 5px;
    width: 80px;
    height: 90px;
}

.optionChange-btn {
    width: 60px;
    font-size: 13px;
    padding: 0;
    background-color: rgba(202, 173, 255, 0.671);
    border: none;
    color: rgb(14, 12, 12);
    /* opacity: 0.9; */
}

.totalPrice {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: bold;
}

.prod-discount-style {
    text-decoration: line-through;
    color: #ff0000;
}

/* 배송정보 */
.delivery-info input[type=text] {
    height: 25px;
}

.delivery-info input[type=number] {
    height: 25px;
    width: 70px;
}


.delivery-info,
.paymnet-area {
    margin-bottom: 40px;
}

.ordererInfo {
    margin: 5px 0 10px 0;
    display: flex;
}

.ordererInfo>input,
.payment-discount-point>input {
    margin-right: 3px;
}

/* 배송정보 틀 */
.order-delivery-content {
    display: flex;
    flex-direction: row;
}

.receiver-text,
.payment-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}

.payment-text>* {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.receiver-text span {
    border: 1px solid #c4c2c2;
    border-left: none;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 20px;
}

.receiver-text span:nth-child(2) {
    border-top: none;
}

.receiver-text span:nth-child(3) {
    border-top: none;
    line-height: 40px
}

.receiver-text span:nth-child(4) {
    border-top: none;
}

.receiver-input>* {
    padding-left: 15px;
}

.receiver-input,
.payment-discount {
    display: flex;
    flex-direction: column;
    width: 75%;
}

/* 수령자명 인풋 태그 */
.receiver-input>input:nth-child(1) {
    padding: 26.8px;
    border: 1px solid #c4c2c2;
    border-left: none;
    border-right: none;
    font-size: 18px;
}

/* 연락처 인풋 태그 */
.receiver-input>div:nth-child(2) {
    border: 1px solid #c4c2c2;
    border-left: none;
    border-right: none;
    border-top: none;
    display: flex;
    align-items: center;
}

/* 배송지 주소 인풋 태그 */
.receiver-input>div:nth-child(3) {
    border: 1px solid #c4c2c2;
    border-left: none;
    border-right: none;
    border-top: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.receiver-input>div:nth-child(3)>div:nth-child(1) {
    padding-bottom: 3px;
}

.order-phone-box>select {
    width: 60px;
    height: 25px;
    font-size: 18px;
}

.order-phone-box>span {
    margin: 0 3px;
}

.order-address div {
    display: flex;
    align-items: center;
}

.order-address>div:nth-child(2) input {
    font-size: 15px;
    width: 250px;
    margin-right: 5px;
}

/* 주소 찾기 버튼 */
.btn-primary {
    padding: 1px 5px;
    border-radius: 3px;
    margin-left: 5px;
    border: none;
}

/* 배송 메모 인풋 태그 */
.receiver-input>div:nth-child(4) {
    display: flex;
    border: 1px solid #c4c2c2;
    border-left: none;
    border-right: none;
    border-top: none;
    align-items: center;
}

.receiver-input>div:nth-child(4)>input {
    height: 29px;
    width: 300px;
}

.receiver-input>div:nth-child(4)>select {
    font-size: 16px;
    margin-left: 5px;
    height: 29px;
    width: 180px;
}

/* 결제정보 */
.paymnet-area {
    display: flex;
    flex-direction: column;
}

.payment-info {
    display: flex;
}

/* 결제예정금액,쿠폰할인,사용할 포인트,사용가능한 포인트 div */
.payment-text>div {
    border: 1px solid #c4c2c2;
    border-left: none;
    background-color: #f3f3f3;
    height: 55px;
    font-size: 20px;
}

.payment-text div:nth-child(2),
.payment-text div:nth-child(3),
.payment-text div:nth-child(4) {
    border-top: none;
}

/* 결제 금액 내용들 000원~ 포인트 전체사용하기 까지 div,span */
.payment-discount {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.payment-discount-view {
    display: flex;
    align-items: center;
}

.payment-discount div {
    border: 1px solid #c4c2c2;
    border-left: none;
    border-right: none;
    height: 55px;
    padding-left: 15px;
    display: flex;
    align-items: center;
}


.payment-discount div:nth-child(1),
.payment-discount div:nth-child(2),
.payment-discount div:nth-child(3) {
    border-bottom: none;
}

.payPrice {
    background-color: #fcdeb8;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c4c2c2;
}

.payPrice div {
    font-weight: bold;
    /* display: inline-block; */
    font-size: 23px;
    padding-left: 15px;
}

.payPrice>div:nth-child(1) {
    border-right: 1px solid #c4c2c2;
    width: 25%;
}

.payment-method {
    display: flex;
}

.payment-method>button {
    border: 1px solid black;
    width: 90px;
    height: 80px;
    cursor: pointer;
}

/* 최종 결제 금액 */
.payment-right {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.payment-right-content {
    display: flex;
    margin-top: 20px;
    font-size: 17px;
    flex-wrap: wrap;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #f3f3f3;
    height: 80px;
    padding: 0 70px;
}

.payment-right-content>p,
.payment-right-content>div:nth-child(2)>div {
    font-size: 35px;
    font-weight: bold;
    margin: 10px 20px;
}

.payment-right-content>div:nth-child(3)>div,
.payment-right-content>div:nth-child(4)>div {
    line-height: 35px;
    margin: 0 5px;
    color: #696868;
}

.payBtn-div {
    display: flex;
    justify-content: center;
}

.payBtn-div * {
    width: 230px;
    height: 60px;
    background-color: crimson;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 23px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 100px;
}


/* ChangeOption 모달관련 */
.optionChangeModal {
    top: 25%;
}

.optionBody {
    flex-direction: column;
    font-size: 18px;
}

.optionBody>.form-check-1,
.form-check-2,
.form-check-3,
.form-check-4 {
    padding-left: 20px;
    padding-bottom: 5px;
}

.change-option-submit,
.change-option-cancel {
    width: 65px;
    height: 35px;
}

.optionBody input {
    margin-left: 10px;
}

/* 주소API 모달 */
.addressAPI-modal {
    width: 600px;
    height: 900px;
    top: 10%;
    left: 35%;
}

/* 사용가능한 쿠폰보기 모달 */
.coupon-modal {
    top: 20%;
    /* width: 100%; */
}

.modal-header>h3 {
    font-weight: bold;
}

.modal-dialog {
    width: 92%;
}

.coupon-no {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 18px;
}

.coupon-no input[type='radio'] {
    margin-right: 5px;
}

.coupon-no-between {
    opacity: 0.5;
}

.coupon-validityDate {
    opacity: 0.8;
    font-size: 14px;
    margin-bottom: 5px;
}

.coupon-modal-footer {
    height: 60px;
}