.BuyerCoupon {
    color: #333;
    max-width: 800px;
    margin: 20px auto;
    margin-top: 15%;
    margin-bottom: 15%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.coupon-title h3 {
    color: #E57373;
    font-weight: 600;
}

.BuyerCoupon-1, .BuyerCoupon-2 {
    margin-top: 20px;
    padding: 20px;
    background-color: #FCE4EC;
    border-radius: 10px;
}

.BuyerCoupon-1 div img {
    width: 60px;
    margin-bottom: 10px;
}

.BuyerCoupon-1 h4 {
    color: #BA68C8;
    font-weight: 500;
}

.use-btn, .used-btn {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    color: #fff;
    background-color: #BA68C8;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.use-btn:hover, .used-btn:hover {
    background-color: #AB47BC;
}

.useCoupon, .usedCoupon {
    margin-top: 20px;
}

.usedCoupon table , .useCoupon table{
    width: 100%;
    border-collapse: collapse;
}

.usedCoupon th, .usedCoupon td , .useCoupon th, .useCoupon td  {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #E1BEE7;
}

.usedCoupon th , .useCoupon th  {
    background-color: #F3E5F5;
}

.usedCoupon tr:hover , .useCoupon tr:hover {
    background-color: #F8BBD0;
}
