.BuyerCoupon{
    margin: 0 auto;
    min-height: 61vh;
    width: 1000px;
}

.coupon-title{
    margin-top: 30px;
}

.BuyerCoupon-1{
    display: flex;
    padding: 5px;
    border: 3px solid #000;
    border-bottom: 3px solid #6d6c6c;
    border-left: none;
    border-right: none;
    outline: none;
    
}

.BuyerCoupon-1 img{
    width: 40px;
}

.BuyerCoupon-1 h4{
    padding: 6px 0 0 5px;
}

.use-btn{
    width: 500px;
    border:1px solid #6d6c6c;
    background-color: #ffffff;
}
.used-btn{
    width: 500px;
    border:1px solid #6d6c6c;
    background-color: #ffffff;
}


.BuyerCoupon-2 table {
    border:1px solid #ddd;
    table-layout:fixed;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* th,td 공통 */
.BuyerCoupon-2 th,
.BuyerCoupon-2 td {
    border:1px solid #ddd;
    padding: 10px 13px;
    vertical-align:middle;
}

/* th 속성 */
.BuyerCoupon-2 th {
    letter-spacing:0.1em;
    background:#f8f8f8;
}

/* td 속성 */
.BuyerCoupon-2 td {
    line-height:1.4em;
    word-break:break-all;
}