/* 전체 상품관리 테이블 틀 */
.SellerManagement {
    margin: 0 auto;
    min-height: 61vh;
}


.SellerManagement h2{
    padding: 10px;
}

/* 테이블 */
.SellerManagement table {
    border:1px solid #ddd;
    table-layout:fixed;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* th,td 공통 */
.SellerManagement th,
.SellerManagement td {
    border:1px solid #ddd;
    padding: 10px 13px;
    vertical-align:middle;
}

/* th 속성 */
.SellerManagement th {
    letter-spacing:0.1em;
    background:#f8f8f8;
}

/* td 속성 */
.SellerManagement td {
    line-height:1.4em;
    word-break:break-all;
}

/* 전체 상품관리 앞에 포인트 */
.SellerManagement h2:before {
    display: inline-block;
    width: 4px;
    height: 26px;
    background: #f5cfcb;
    content: '';
    margin-right: 10px;
}

/* 상품검색 틀 */
.seller-search {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 70px;
}

/* 상품검색 */
.seller-search-input {
    padding: 5px;
    border: 1px solid #000;
    border-bottom: 1px solid #f5cfcb;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}
/* 상품검색 인풋 아웃라인 */
.seller-search-input:focus{
    border-bottom: 1px solid #000;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.2);
}

/* 상품검색 버튼 */
.seller-search button{
    border: none;
    background-color: #f5cfcb;
    padding: 6px;
}

.seller-search button:hover{
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.3);
}