.SellerManagement {

    color: #333;
    background-color: #f8f1f1;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.SellerManagement h2 {
    background-color: #ff7f7f;
    text-align: center;
}

.seller-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.seller-search-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.seller-search button,
.seller-search a button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff7f7f;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.seller-search button:hover,
.seller-search a button:hover {
    background-color: #FF1493;
}

.SellerManagement article {
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.SellerManagement article table {
    width: 100%;
    border-collapse: collapse;
}

.SellerManagement article table th,
.SellerManagement article table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.SellerManagementarticle table tr:nth-child(even) {
    background-color: #f2f2f2;
}
