

.SellerOrderList {

    background-color: #f8f1f1;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.SellerOrderList h2 {
    color: #ff7f7f;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.SellerOrderList table {
    width: 100%;
    border-collapse: collapse;
}

.SellerOrderList th {
    background-color: #ff7f7f;
    color: white;
    padding: 10px;
    border: 1px solid #ff7f7f;
}

.SellerOrderList td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.order-total {
    background-color: #fffcf9;
    font-weight: bold;
    color: #ff7f7f;
}