.faCloseShow,
.faBarsShow {
    /* top: 30%; */
    border: 1px solid black;
    background-color: rgb(243, 255, 172);
    position: fixed;
    /* transform: translateY(-50%); */

    padding: 15px;

}

.faCloseShow {
    width: 200px;

}

.faBarsShow {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 167, 156);
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftshow {
    display: block;
}

.lefthide {
    display: none;
}