/* 리뷰 */
.prod-review {
	display: flex;
	flex-wrap: wrap;
}

/* 리뷰 제목 */
.prod-review>*:first-child {
	width: 100%;
	margin-bottom: 25px;
}

/* 좌측 리뷰 목록 박스 */
.review-list {
	width: calc(52.5% - 10px);
	margin: 0 5px;
}

/* 단일 리뷰 박스 */
.review {
	width: 100%;
	height: 140px;
	display: flex;
	flex-wrap: wrap;
	border: 2px solid lightslategray;
	border-radius: 10px;
	margin-bottom: 20px;
}

/* 리뷰 박스 안 내용들 박스 */
.review>figure {
	width: 65%;
	margin: 0;
	border-right: 1px solid lightslategray;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

/* 평점 박스 */
.ratingBox {
	width: 100%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-left-radius: 10px;
	padding: 5px 0;
}

/* 평점 이미지 */
.ratingBox>img {
	height: 100%;
	margin: 0 3px;
}

/* 리뷰 내용 */
.review-content {
	height: 70%;
	text-align: start;
	border-bottom-left-radius: 10px;
	padding: 10px 20px;
}

/* 리뷰어 정보 박스 */
.reviewer {
	width: 35%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

/* 리뷰어 정보 박스 안 모든 박스 */
.reviewer>* {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	overflow: hidden;
	white-space: nowrap;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

/* 리뷰어 정보 박스 안 사용자 정보 박스 */
.reviewer>div:nth-child(1) {
	height: 40%;
}

/* 리뷰어 정보 박스 안 사용자 정보 박스 */
.reviewer>div:nth-child(2) {
	height: 60%;
}

/* 우측 리뷰 작성 박스 */
.review-write {
	width: calc(47.5% - 10px);
	min-height: 100px;
	height: fit-content;
	display: flex;
	position: sticky;
	top: 25px;
	border: 1px solid lightslategray;
	border-radius: 10px;
	margin: 0 5px;
}

/* 리뷰 작성 박스 */
.review-write>section {
	width: 50%;
}

/* 리뷰 평점 작성 박스 */
.review-write .ratingBox {
	height: 25%;
	margin: 0 0 10px;
}

/* 리뷰 작성 박스 */
.review-write .row {
	margin: 5px 0;
}

/* 기장 입력창 잡것 제거 */
.review-write input::-webkit-outer-spin-button, .review-write input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}