/* 상단 메인카테고리 이름 */
.mainCateName {
	display: flex;
	justify-content: center;
	margin: 50px 0;
	font-size: 45px;
	font-weight: bold;
	letter-spacing: 0.5em;
}

/* 상단 서브카테고리 이름 */
.subCateName {
	height: 85px;
	display: flex;
	margin-bottom: 60px;
	align-items: center;
	justify-content: center;
}

.subListEle {
	/* width: 60px; */
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 15px;
}

.subBasic {
	font-weight: 200;
	font-size: 15px;
	color: black;
}

/* 컨텐츠영역(상품 리스트) */
.products {
	width: 1300px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	margin: 0 auto;
}

/* 태완님 좀 건들겠습니다 -민구- */
.product:hover {
	transition: 0.3s;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

/* 각각의 상품들 */
.product {
	width: 250px;
	display: flex;
	flex-direction: column;
	border: 1px solid lightgray;
	margin: 10px 0;
}

/* 상품 이름 */
.prod-name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	font-size: 16px;
	color: #333333;
	font-weight: bold;
}

/* 금액 (원가, 할인률) 표시 */
.prod-amount {
	display: flex;
	font-size: 20px;
}

/* 금액(원가) 위치 조정 및 색상 */
.prod-amount span:nth-child(2), .clothContent span:nth-of-child(2) {
	margin-left: 10px;
	text-decoration: line-through;
	color: #ff0000;
}

/* 상품 이미지 */
.prod-img {
	width: 100%;
	height: 325px;
	cursor: pointer;
}

/* 상품 설명들 박스 */
.product>article {
	display: flex;
	flex-direction: column;
	padding: 5px;
}

/* 상품 설명들 */
.product div {
	height: 20px;
	margin: 3px 0;
}

/* 상품 이름 */
.product div:nth-of-type(2) {
	height: auto;
}

/* 상품 색상 박스 */
.prod-color {
	display: flex;
	height: 20px;
}

/* 상품 색상 */
.prod-color>span {
	height: 100%;
	width: 20px;
	font-size: 1px;
	text-align: center;
	border: 1px solid lightslategray;
	border-radius: 50%;
	padding-top: 7px;
	margin-right: 15px;
	cursor: pointer;
}

