.signupTop {
    border: 1px solid black;
    display: flex;
    height: 300px;
}

.signupTopImgOne {
    height: 100%;
}

.signupTop-left {
    border: 1px solid black;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: rgb(131, 66, 77);
}


.signupTop-right {
    border: 1px solid black;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.signupTop-right img {
    max-height: 100%;
}


.formBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(150vh - 300px);
}

.signUpForm {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.DaumModal {
    max-width: none!important;
    width: 500px;
}

.DaumModalBody{
    height: 700px;
}



.form-container form{
    padding: 50px;
}

/* 회원가입 틀 */
.form-container fieldset{
    border-radius: 20px;
    padding: 50px 90px;
    width: 705px;
    background-color: #ffc1b7;
    box-shadow: 10px 10px 30px 0;
}

/* 회원 가입 타이틀 텍스트 */
.form-container legend{
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 30px;
}

/* 인풋 공통 */
.form-container input{
    border: 1px solid #585757;
    box-shadow: inset 1px 1px 0 1px;
    border-radius: 0;
}
/* 인풋 포커스 공통 */
.form-container input:focus{
    outline: 1px solid #f88f84;
    border: 1px solid #f88f84;
    box-shadow: inset 5px 8px 8px rgba(0, 0, 0, 0.2);
}

/* 아이디 */
.signUp-id-box{
    display: flex;
}
/* 아이디 중복확인 버튼 */
.doubleCheck-btn{
    background-color: #585757;
    margin: 0;
    border-radius: 0;
    border: 1px solid #585757;
}

/* 비밀번호 */
/* 이름 & 생년월일 */
/* 주소 */
.signUp-password,
.signUp-name,
.signUp-address{
    display: flex;
    justify-content: space-between;
}

/* 우편번호 */
.signUp-postcode{
    display: flex;
}

/* 주소 찾기 버튼 */
.address-btn{
    height: 40px;
    background-color: #585757;
    border: 1px solid #585757;
}

/* 맨밑에 회원가입 버튼 */
.inroll-btn{
    margin-left: 200px;
    padding: 15px 20px;
    font-size: 20px;
    background-color: #585757;
    border: 1px solid #585757;
}

.inroll-btn:disabled{
    background-color: #585757;
    border: 1px solid #585757;
}

.form-container button:hover{
    background-color: #f88f84;
    border: 1px solid #f88f84;
}