.signupTop {
    border: 1px solid black;
    display: flex;
    height: 300px;
}

.signupTopImgOne {
    height: 100%;
}

.signupTop-left {
    border: 1px solid black;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: rgb(131, 66, 77);
}


.signupTop-right {
    border: 1px solid black;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.signupTop-right img {
    max-height: 100%;
}


.formBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(150vh - 300px); /* Adjust the height based on your design */
}

.signUpForm {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.DaumModal {
    max-width: none!important;
    width: 500px;
}

.DaumModalBody{
    height: 700px;
}





.form-container fieldset{
    background-image: url('../../../../public/photo/SignUpBack.png');
    background-size: 100% 100%;
    padding: 90px;
    width: 705px;
}

.form-container legend{
    text-align: center;
    margin: 20px 0;
}

.form-container input{
    border: 1px solid #585757;
    margin-top: 5px;
}

.form-container input:focus{
    outline: 3px solid #f88f84;
    border: 1px solid #f88f84;
}

.doubleCheck-btn{
    margin: 10px 3px;
    background-color: #585757;
    border: 1px solid #585757;
}

.address-btn{
    margin: 10px 0;
    background-color: #585757;
    border: 1px solid #585757;
}

.inroll-btn{
    margin-left: 200px;
    padding: 15px 20px;
    font-size: 20px;
    background-color: #585757;
    border: 1px solid #585757;
}

.inroll-btn:disabled{
    background-color: #585757;
    border: 1px solid #585757;
}

.form-container button:hover{
    background-color: #f88f84;
    border: 1px solid #f88f84;
}