a {
    text-decoration: none;
}

#leftBar {
    display: none;
}

.faBarClose,
.faBarsShow {
    width: 40px;
    height: 40px;

}

.faBarsShow {
    background-color: #f8dedb;
    box-shadow: inset 0 0 30px 0 #f69b91;
    border-radius: 20px;
}

.faBarClose {

    height: 40px;
    background-color: #f8dedb;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 30px 0 #f69b91;
    border-radius: 20px;
}

.leftBarIcon {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fontIcon {
    width: 50%;
    height: 50%;
    padding: 10px;
}

.leftshow {
    display: block;
}

.lefthide {
    display: none;
}

.leftCateListAll {
    display: flex;
    height: 0;
    overflow: hidden;
}

.leftCateList {
    display: flex;
}

.mainCateList {
    width: 100px;
    background-color: #f8dedb;
    padding: 11px;
    box-shadow: inset 0 0 30px 0 #f69b91;
    border-radius: 10px;
    height: 300px;
}

.subCateList {
    width: 100px;
    background-color: #f1b8b3;
    box-shadow: inset 8px 0 10px 0  #f88174;
    /* box-shadow: -10px -10px 15px rgba(0, 0, 0, 0.3); */
    border-radius: 5px;
    /* border: 1px solid black; */
    margin: 6px;
    /* padding: 10px 0; */
}

.subListEle {
    height: 30px;
    padding-left: 10px;
}

.mainCateListItem {
    margin-bottom: 10px;
}

.mainCateListItem:hover,
.subListEle:hover {
    /* color: #fff; */
    cursor: pointer;
    /* text-shadow: #fff 1px 1px, #000 0px 0px, #000 1px 1px, #000 2px 2px; */
}

#leftBar p {
    font-size: 26px;
    font-family: 'Lobster';
    font-size: 50px;
    padding-bottom: 10px;
}

/* 메인 카테고리 요소 */
.mainCateListItem div {
    width: 100px;
    padding: 6px 6px 6px 10px;
}