.bannerImg {
  width: 100%;
  height: 600px;
}

.adTop {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  height: 500px;
}

.adTopImg {
  width: 100%;
  height: 100%;
}


.adTop-left {
  margin: 70px;
  height: 400px;
  width: 700px;
  /* border: 1px solid black; */
}

.adTop-right {
  margin: 100px;
  height: 300px;
  width: 50%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  background-color: rgb(214, 132, 203);
}

.adTop-leftTwo {
  margin: 70px;
  height: 300px;
  width: 50%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  background-color: rgb(57, 182, 204);
}

.adTop-rightTwo {
  margin: 70px;
  height: 400px;
  width: 700px;
  /* border: 1px solid black; */
}

.clothListBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: start; /* 여기를 추가했습니다. */
 
}

.clothList {
  width: 30%;
  box-sizing: border-box;
 
  margin: 10px;
  /*height: 400px;*/ /* 높이를 주석 처리했습니다. */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.clothContent {
  padding: 10px;
  margin-top: auto;
}

h2,
p {
  margin: 0;
}

.listImg {
  height: 77%;
  /*여기 수정 필요*/
}

.clothName{
  font-style: inherit;
}

.clothList:hover {
  transition: 0.3s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@keyframes blinker {
  50% { opacity: 0; }
}

.blink {
  animation: blinker 1s linear infinite;
}

body {
  min-width: 1636px;
}