.Mainpage{
  margin: 0 auto;
  min-width: 800px;
}

.bannerImg {
  width: 100%;
  height: 600px;
}

.clothListBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  min-width: 700px;
}

.clothList {
  min-width: 202px;
  width: 29%;
  box-sizing: border-box;
 
  margin: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.clothContent {
  padding: 10px;
}

h2,
p {
  margin: 0;
}

.listImg {
  height: 77%;
  /*여기 수정 필요*/
}

.clothName{
  font-style: inherit;
}

.clothList:hover {
  transition: 0.3s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@keyframes blinker {
  50% { opacity: 0; }
}

.blink {
  animation: blinker 1s linear infinite;
}

.container{
  margin: 0 auto;
  width: 75%;
  min-width: 800px;
}