/* 리모컨 */
.rightBar {
  top: 300px;
  width: 60px;
  display: flex;
  flex-direction: column; 
  position: fixed;
  right: 0;
  z-index: 1;
  text-decoration: none;
  background-color: #e4c0a8;
  border: 1px solid #000;
  border-right: none;
  border-radius: 15px 0 0 15px;
  align-items: center;
  padding: 10px 0;
}

/* 리모컨 아이콘 사이즈 */
.rightBar img {
  background-size: cover;
  width: 30px;
  margin: 8px 0;
  cursor: pointer;
  padding-bottom: 5px;
  border-bottom: 1px solid #7a7a7a;
}

/* 검색창 틀 */
.sideBarContent{
  width: 580px;
  position: fixed;
  top: 120px;
  right: 70px;
  z-index: 2;
  background-color: #e4c0a8;
  border: 2px inset #c0c0c0;
  padding: 10px 30px;
  height: 70vh;
  overflow: auto;
}

/* 대분류 항목 */
.productContainer {
  display: flex;
  flex-direction: row;
}

/* 검색창 항목들 */
.cateSeeThrough{
  line-height: 33px;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  text-decoration: none;
  padding: 0 13px;
  margin: 3px;
}

/* 검색창 항목들 선택시 */
.cateSeeThrough.active{
  background-color: #e4c0a8;
  color: white;
}

/* 상품찾기 버튼 */
.cateButton{
  width: 100%;
  height: 60px;
  color: #fff;
  font-weight: bolder;
  background-color: #5c5c5c;
  border: none;
  box-shadow: 0 0 5px 0;
}

/* 색상 */
.flexContainer {
  display: grid;
  grid-template-columns: repeat(12, 29px);
  grid-gap: 15px;
}

/* 타이틀 (대분류,소분류...) */
.cateTitle{
  margin-left: 5px;
  font-size: 16px;
  line-height: 40px;
}

.right-category-box{
  display: flex;
  flex-wrap: wrap;
}